body {
  text-align:center;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #34a853;
  padding: 0 .5em;
}
.footer {
  background-color: #81c995;
  padding: 0 .5em;
}
.main {
  background-color: white;
  padding: 1em;
}
h1 {
  font-size: 150%;
  margin: 0 0;
  padding: .5em 0;
}
div {
  padding: 0vw 0vh;
  margin: 0vw 0vh;
}
a:hover{
  background-color: #fff;
  color: #34a853;
  padding: 15px 60px;
}
a:visited{
  background-color: #34a853;
  color: #fff;
  padding: 15px 60px;  
  text-decoration: none;
}
a {
  background-color: #34a853;
  color: #fff;
  padding: 15px 60px;
  text-decoration: none;
}
p{
  font-size: 80%;
  color: #fff;
}
.osirasebox{
  white-space:nowrap;
  overflow:scroll;
  width:70%; 
  height:300px; 
  background:#8ab4f8;
  border-radius:10px;
  margin: 10px auto;
}
.kimodurubox{
  white-space:nowrap;
  overflow:scroll;
  width:70%; 
  height:300px; 
  background:#f28b82;
  border-radius:10px;
  margin: 10px auto;
}
.sinntyokubox{
  white-space:nowrap;
  overflow:scroll;
  width:70%; 
  height:300px; 
  background:#fdd663;
  border-radius:10px;
  margin: 10px auto;
}
.tukuttamonobox{
  white-space:nowrap;
  overflow:scroll;
  width:70%; 
  height:300px; 
  background:#81c995;
  border-radius:10px;
  margin: 10px auto;
}
.seisakusyabox{
  white-space:nowrap;
  overflow:scroll;
  width:70%; 
  height:300px; 
  background:#fff;
  border-radius:10px;
  margin: 10px auto;
}
