body {
  text-align:center;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
.header {
  background-color: #34a853;
  padding: 0 .5em;
}
.footer {
  background-color: #81c995;
  padding: 0 .5em;
}
.main {
  background-color: white;
  padding: 1em;
}
h1 {
  font-size: 150%;
  margin: 0 0;
  padding: .5em 0;
}
div {
  padding: 0vw 0vh;
  margin: 0vw 0vh;
}
.header{
  position:fixed;
  top:0px;
  left:0px;
}
a:hover{
  color: #34a853;
}
a:visited{
  color: #34a853;
  text-decoration: none;
}
a {
  color: #34a853;
  text-decoration: none;
}
.img-sp{
  display:none;
}
@media screen and(max-width:560px){
  .img-pc{
    display:none;
  }
  .img-sp{
  display:block;
  }
}
