body {
  text-align:center;
  font-family: sans-serif;
}
.header {
  background-color: #34a853;
}
.footer {
  background-color: #34a853;
}
.yokonarabi {
  display: inline-block;
  padding: 10px;
  margin: 20px;
}
.fff{
  color: #fff;
}
img{
  max-width:800px;
}
.choosing{
  display: inline-block;
}
a:hover img{
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.news{
  width: 100%;
  hight: 500px;
  margin: 0 auto;
  padding: 30px auto;
  background-color: #81c995;
}
.details{
  width:80%;
  max-width: 800px;
  margin: 0 auto;
  padding: 25px;
  border: dashed 3px #34a853;
  background-color: #fff;
}
.details-summary{
  font-size: 120%;
 boder-bottom: solid 3px #34a853;
}
