body {
  text-align:center;
  font-family: sans-serif;
}
.header {
  background-color: #34a853;
}
.footer {
  background-color: #34a853;
}
.yokonarabi {
  display: inline-block;
  padding: 10px;
  margin: 20px;
}
.fff{
  color: #fff;
}
.seigen{
  max-width: 800px;
}
.choosing{
  display: inline-block;
}
a:hover img{
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.news{
  width: 100%;
  hight: 500px;
  margin: 10px auto;
  overflow: auto;
  background-color: #81c995;
}
.article{
  width: 60%;
  margin: 10px auto;
　pdding: 50px;
  background-color: #fff;
  font-size: 20px;
}
.big{
  font-size: 150%;
  text-decoration:underline #f74542;
}
