body {
  text-align:center;
  font-family: sans-serif;
}
.header {
  background-color: #34a853;
}
.footer {
  background-color: #34a853;
}
.yokonarabi {
  display: inline-block;
  padding: 10px;
  margin: 20px;
}
.fff{
  color: #fff;
}
.seigen{
  max-width: 800px;
}
.choosing{
  display: inline-block;
}
.button{
  overflow: hidden;
  width: 23%;
  margin: 20px;
}
.button img{
  transition: transform .6s ease;
}
.button:hover img{
  transform: scale(1,1);
}
