body {
  text-align:center;
  font-family: sans-serif;
}
.header {
  background-color: #34a853;
}
.footer {
  background-color: #34a853;
}
.yokonarabi {
  display: inline-block;
  padding: 10px;
  margin: 20px;
}
.fff{
  color: #fff;
}
.seigen{
  max-width: 800px;
}
.choosing{
  display: inline-block;
}
a:hover img{
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
