body {
  text-align:center;
  font-family: sans-serif;
}
.header {
  background-color: #34a853;
}
.footer {
  background-color: #34a853;
}
.yokonarabi {
  display: inline-block;
  padding: 10px;
}
.fff{
  color: #fff;
}
.seigen{
  max-width: 800px;
}
.button:hover{
  width: 150px
  transform:scale(1.1);
  transition:0.4s;
}
