body {
  text-align:center;
  font-family: sans-serif;
}
.header {
  background-color: #34a853;
}
.footer {
  background-color: #34a853;
}
.yokonarabi {
  display: inline-block;
  padding: 10px;
  margin: 20px;
}
.fff{
  color: #fff;
}
.seigen{
  max-width: 800px;
}
.choosing{
  display: inline-block;
}
a:hover img{
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}
.news{
  width: 350px;
  hight: 500px;
  margin: 10px auto;
  overflow: auto;
  border: solid 5px black;
  scroll-snap-type:y mandatory;
}
.article{
  width: 350px;
  hight: 400px;
  margin: 50px auto;
ã€€padding: 20px;
  scroll-snap-align: center;
  background-color: skyblue;
  font-size: 20px;
}
.big{
  font-size: 30px;
  border-bottom: double 6px #435fff;
}
