body {
  text-align:center;
  font-family: sans-serif;
}
.header {
  background-color: #34a853;
  padding: 0 .5em;
}
.footer {
  background-color: #34a853;
  padding: 0 .5em;
}
.yokonarabi {
  display: inline-block;
  padding: 10px;
}
.fff{
  color: #fff;
}
.seigen{
  max-width: 1200px;
}
