#area{
  width: 750px;
  padding: 5%;
  margin: 10px auto;
  border:solid 5px;
}
#buttons{
  display:flex;
  width:200px;
  margin:0 auto;
  justify-content:space-between;
}
#buttons button{
  display:block;
  padding:40px;
  margin: 40px;
  font-size:150%;
}
