 .main img{
  max-width:800px;
  border: 5px solid #000;
  margin:20px auto;
}
body{
  text-align:center;
  font-family: sans-serif;
  background-color: #34a853;
}
.mokuji{
  width: 80%;
  max-width: 800px;
  margin:20px auto;
  padding:20px auto;
  border: 5px solid #000;
  background-color: #fff;
}
.game{
  width: 80%;
  max-width: 800px;
  margin:20px auto;
  padding:20px auto;
  border: 5px solid #000;
  background-color: #fff;
}
.mokuji a{
  text-decoration: none;
}
