 .main img{
  max-width:800px;
  border: 5px solid #000;
  margin:20px auto;
}
body{
  text-align:center;
  font-family: sans-serif;
  font-size: 20px;
  background-color: #34a853;
}
.mokuji{
  width: 70%;
 max-width: 600px;
  margin:20px auto;
  padding:20px 6%;
  border: 5px solid #000;
  background-color: #fff;
}
.game{
  width: 70%;
  max-width: 600px;
  margin:20px auto;
  padding:20px 6%;
  border: 5px solid #000;
  background-color: #fff;
}
a{
  text-decoration: none;
 color: #3f6368;
}
a:visited{
 text-decoration: none;
 color: #3f6368;
}
