body{
  font-size: 150%; 
  font-family: sans-serif;
  background-color: #34a853;
}
.footer {
  background-color: #34a853;
  text-align:center;
}
h1 {
  text-align: center;
}
.center {
  text-align: center;
}
#honnbunn{
  width: 750px;
  background-color: #fff;
  margin: 0px auto;
  padding: 25px;
  padding-bottom: 40px;
  border: 5px solid #000000;
}
.button:hover{
  background-color: #fff;
  color: #34a853;
  padding: 15px 60px;
  border: 5px solid #000000;
}
.button:visited{
  background-color: #34a853;
  color: #fff;
  padding: 15px 60px;  
  text-decoration: none;
  border: 5px solid #000000;
}
.button {
  background-color: #34a853;
  color: #fff;
  padding: 15px 60px;
  text-decoration: none;
  border: 5px solid #000000;
}
.yokonarabi{
  display:flex;
  flex-wrap: wrap;
}
.box{
  margin: 25px; 
}
.mokuji{
  padding: 15px;
  border: 5px solid #000000;
  border-radius: 10px;
  color: #000000;
  text-decoration: none;
}
 .black:visited{
   color: #707070;
 }
.black{
  color: #000000;
}
.kaiten:active{
  transform:rotate(360deg);
  transition:0.7s;
}
.box:hover{
  transform:scale(1.1);
  transition:0.4s;
}
h2 {
  position: relative;
  display: inline-block;
  padding: 10px 15px 10px 30px;
  color: #fff;
  border-radius: 100vh 0 0 100vh;
  background: #81c995;
}

h2:before {
  position: absolute;
  top: calc(50% - 7px);
  left: 10px;
  width: 14px;
  height: 14px;
  content: '';
  border-radius: 50%;
  background: #fff;
}
