a:hover{
  color: #34a853;
}
a:visited{
  color: #34a853;
  text-decoration: none;
}
a {
  color: #34a853;
  text-decoration: none;
}
body{
  font-size: 150%; 
  font-family: sans-serif;
}
p{
  font-size: 70%;
  background-color: #81c995;
}
