a:hover{
  color: #34a853;
}
a:visited{
  color: #34a853;
  text-decoration: none;
}
a {
  color: #34a853;
  text-decoration: none;
}
body{
  font-size: 150%; 
  font-family: sans-serif;
}
.footer {
  background-color: #81c995;
  text-align:center;
}
p{
  font-size: 80%;
}
h1 {
  background: linear-gradient(transparent 50%, #81c995 50%);
  border-radius: 0.5em;
}
h2 {
  background: linear-gradient(transparent 70%, #fdd663 70%);
  border-radius: 0.5em;
}
h3 {
  background: linear-gradient(transparent 90%, #fdd663 90%);
  border-radius: 0.5em;
}
